@font-face {
  font-family: Verdana;
  src: url(fonts/Verdana.ttf);
}

@font-face {
  font-family: Verdana Bold;
  src: url(fonts/Verdana_Bold.ttf);
}

@font-face {
  font-family: Tahoma;
  src: url(fonts/Tahoma.ttf);
}

@font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Allura;
  src: url(fonts/Allura-Regular.ttf);
}

:root {
  --anthracite: #28282d;
  --volcanic-glass: #545054;
  --white-sand: #dcd7d4;
  --cloud-dancer: #f0eee9;
  --deep-taupe: #715c56;
  --nile-green: #aaca97;
  --terra-cotta: #ce7f75;
  --black: #000000;
  --white: #ffffff;
}

.App {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background-color: var(--white-sand);
}

.Accessible-link {
  position: absolute;
  opacity: 0;
}

.Accessible-link:focus {
  color: var(--cloud-dancer);
  background-color: var(--anthracite);
  opacity: 1;
}

header {
  height: 80px;
  width: 100%;
  background-color: var(--volcanic-glass);
  display: flex;
  align-items: center;
}

.Header-homelink {
  display: flex;
  padding: 10px 20px;
  margin-left: 40px;
  align-items: center;
}

.Header-homelink:hover, .Header-homelink:focus {
  background-color: var(--anthracite);
}

.Header-icon {
  height: 50px;
}

.Header-title {
  font-family: Tahoma, sans-serif;
  font-size: 1.4rem;
  color: var(--white-sand);
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana Bold, sans-serif;
  font-weight: lighter;
}

h3, h4 {
  color: var(--volcanic-glass);
}

u {
  text-underline-offset: 0.2rem;
}

.Nav-bar {
  color: var(--cloud-dancer);
  font-size: 1.1rem;
  margin-left: auto;
  margin-right: 40px;
}

.Nav-links {
  display: flex;  
  padding-left: 0px;
  margin: 0;
  list-style: none;
}

.Nav-link {
  padding: 20px;
}

.Nav-link:hover, .Nav-link:focus {
  background-color: var(--anthracite);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.Nav-sub {
  display: flex;
  color: var(--white-sand);
  height: 65px;
  background-color: var(--anthracite);
  font-size: 1.1rem;
}

.Nav-sub-links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav-sub-link {
  padding: 15px;
  margin: auto;
}

.Nav-sub-link:hover, .Nav-sub-link:focus {
  color: var(--cloud-dancer);
  background-color: var(--volcanic-glass);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.Main {
  color: var(--anthracite);
  font-size: 1.1rem;
  line-height: 1.5;
  width: 60%;
  max-width: 70ch;
  min-height: calc(100vh - 160px);;
  margin: 80px auto;
}

.Main-bold {
  font-family: Verdana Bold, sans-serif;
  font-weight: lighter;
}

.Main-uppercase {
  text-transform: uppercase;
}

.Main-strike {
  text-decoration: line-through;
}

.Main-fragment {
  margin-bottom: 50px;
}

.Main-fragment__nested {
  margin-bottom: 30px;
}

.Main-figure {
  margin: 30px 20px;
}

.Main-img {
  max-width: 100%;
}

.Main-img-caption {
  text-align: center;
  color: var(--volcanic-glass);
}

.Main-link {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.Main-link:hover, .Main-link:focus {
  color: var(--deep-taupe);
}

.Main-list {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 20px;
  margin-left: 40px;
}

.Main-list li {
  padding-left: 1.2rem;
  margin-bottom: 5px;
}

.Main-list__nested {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.Main-list__final {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.Main-list__final li {
  padding: 0;
}

.Tutorials-buttons {
  display: flex;
  flex-wrap: wrap;
}

.Main-button {
  width: 40%;
  margin: 0.7rem auto ;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--white-sand);
  background-color: var(--anthracite);
  border: none;
}

.Main-button:hover, .Main-button:focus {
  color: var(--cloud-dancer);
  background-color: var(--deep-taupe);
}

.Main-success {
  color: var(--nile-green) !important;
}

.Main-warning {
  color: var(--terra-cotta) !important;
}

.Main-center {
  text-align: center;
}

.Main-justify {
  text-align: justify;
}

.Main-example {
  padding: 20px;
  background-color: var(--anthracite);
  color: var(--white-sand);
  margin-bottom: 30px;
}

.Main-example-block {
  background-color: var(--volcanic-glass);
}

.Main-hoverable {
  display: block;
  width: 150px;
  margin: 30px auto;
}

.Main-hoverable:hover, .Main-hoverable:focus {
  background-color: var(--volcanic-glass);
}

.Designers-badcontrast {
  color: var(--volcanic-glass);
}

.Designers-overcontrast {
  color: var(--black);
  background-color: var(--white);
}

.Designers-symbols {
  display: flex;
  padding: 20px;
  background-color: var(--anthracite);
}

.Designers-symbol {
  margin: auto;
  font-size: 1.3rem;
}

.Designers-symbol:hover {
  cursor: pointer;
}

.Designers-colors {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  color: var(--cloud-dancer);
  background-color: var(--anthracite);
}

.Designers-colors li {
  padding: 15px 30px;
}

.Designers-colors li:hover {
  background-color: var(--volcanic-glass);
  cursor: pointer;
}

.Designers-colors-square {
  display: inline-block;
  height: 0.9rem;
  width: 0.9rem;
  margin-right: 15px;
}

.Designers-green {
  background-color: var(--nile-green);
}

.Designers-red {
  background-color: var(--terra-cotta);
}

.Designers-white {
  background-color: var(--white-sand);
}

.Designers-sans, .Designers-decorative {
  color: var(--white-sand);
}

.Designers-sans {
  font-family: Open Sans, sans-serif;
}

.Designers-decorative {
  font-family: Allura, serif;  
  font-size: 1.5rem;
}

.Designers-smalltext {
  font-size: 0.8rem;
}

.Designers-bigtext {
  font-size: 1.8rem;
}

.Designers-input {
  text-align: center;
  padding: 30px;
}

.Designers-input input {
  height: 20px;
  background-color: var(--white-sand);
  border-color: var(--terra-cotta);
  border-radius: 5px;
  border-width: 3px;
}

.Designers-error {
  color: var(--terra-cotta);
  margin: 10px 0 0 0;
}

.Code-snippet {
  color: var(--cloud-dancer);
  background-color: var(--anthracite);
  padding: 20px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}

.Code-tag {
  color: var(--nile-green);
}

.Content-example-link:hover {
  color: var(--cloud-dancer);
}

.Content-badlink:hover {
  color: var(--terra-cotta);
}

.Content-hearts {
  font-size: 1.5rem;
  letter-spacing: 0.5ch;
}

.Navigation ul {
  list-style-type: "\2937"; /* unicode arrow symbol */
  font-size: 1.3rem;
}

.Navigation a {  
  text-underline-offset: 0.4rem;
}

.NotFound-link {
  display: block;
}

footer {
  height: 80px;
  color: var(--white-sand);
  font-size: 1.1rem;
  background-color: var(--anthracite);
  display: flex;
  align-items: center;
}

.Footer-copyright {
  margin-left: 50px;
}

.Footer-link {
  margin-left: auto;
  margin-right: 50px;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.Footer-link:hover, .Footer-link:focus {
  color: var(--cloud-dancer);
}

@media screen and (min-width: 1000px) {
  .Header-homelink, .Footer-copyright {
    margin-left: 100px;
  }

  .Nav-bar, .Footer-link {
    margin-right: 100px;
  }
}

@media screen and (max-width: 805px) {
  Header {
    height: auto;
    display: block;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .Header-homelink {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--anthracite);
  }

  .Header-homelink {
    margin: 0;
  }

  .Nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .Nav-links li {
    padding: 20px 0;
  }

  .Nav-dropdown {
    display: none !important;
  }

  .Main {
    width: 70%;
  }
  
  .Main-figure {
    margin: 20px 0;
  }

  .Main-buttons {
    flex-direction: column;
  }

  .Main-button {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .Nav-sub {
    height: auto;
  }

  .Nav-sub-links {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .Nav-sub-links li {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .Nav-sub-link {
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .Main {
    width: 80%;
  }

  .Main-list {
    margin-left: 20px;
  }

  .Main-list__final {
    margin-left: 0;
  }

  .Main-list li {
    padding-left: 0.6rem;
  }

  .Main-list__nested {
    margin-left: 5px;
  }
  
  footer {
    display: block;
    height: auto;
    padding: 40px 20px;
    text-align: left;
  }

  .Footer-copyright, .Footer-link {
    display: block;
    margin-left: 50px;
  }

  .Footer-link {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .Nav-links {
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .Nav-links li {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-left: 0 !important;
  }

  .Nav-link {
    display: block;
    padding: 20px;
  }

  .Nav-sub {
    display: none;
  }

  .Main {
    width: 90%;
  }

  .Tutorials-button {
    width: 85%;
    margin: 10px auto;
  }

  .Footer-copyright, .Footer-link {
    display: block;
    margin-left: 20px;
  }
}