@font-face {
  font-family: Verdana;
  src: url(fonts/Verdana.ttf);
}

@font-face {
  font-family: Verdana Bold;
  src: url(fonts/Verdana_Bold.ttf);
}

@font-face {
  font-family: Tahoma;
  src: url(fonts/Tahoma.ttf);
}

:root {
  --anthracite: #28282d;
  --volcanic-glass: #545054;
  --white-sand: #dcd7d4;
  --cloud-dancer: #f0eee9;
  --deep-taupe: #715c56;
}

.App {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background-color: var(--white-sand);
}

.Accessible-link {
  position: absolute;
  opacity: 0;
}

.Accessible-link:focus {
  color: var(--cloud-dancer);
  background-color: var(--anthracite);
  opacity: 1;
}

header {
  height: 80px;
  width: 100%;
  background-color: var(--volcanic-glass);
  display: flex;
  align-items: center;
}

.Header-homelink {
  display: flex;
  padding: 10px 20px;
  margin-left: 40px;
  align-items: center;
}

.Header-homelink:hover, .Header-homelink:focus {
  background-color: var(--anthracite);
}

.Header-icon {
  height: 50px;
}

.Header-title {
  font-family: Tahoma, sans-serif;
  font-size: 1.4rem;
  color: var(--white-sand);
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, .Main-bold {
  font-family: Verdana Bold, sans-serif;
  font-weight: lighter;
}

.Nav-bar {
  color: var(--cloud-dancer);
  font-size: 1.1rem;
  margin-left: auto;
  margin-right: 40px;
}

.Nav-links {
  display: flex;  
  padding-left: 0px;
  margin: 0;
  list-style: none;
}

.Nav-link {
  padding: 20px;
}

.Nav-link:hover, .Nav-link:focus {
  background-color: var(--anthracite);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.Main {
  color: var(--anthracite);
  font-size: 1.1rem;
  line-height: 1.5;
  width: 60%;
  max-width: 70ch;
  min-height: calc(100vh - 160px);;
  margin: 80px auto;
}

.Main-fragment {
  margin-bottom: 40px;
}

.Main-link {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.Main-link:hover, .Main-link:focus {
  color: var(--deep-taupe);
}

.Main-list {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 20px;
  margin-left: 40px;
}

.Main-list li {
  padding-left: 1.2rem;
  margin-bottom: 5px;
}

.Main-list__nested {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.Main-buttons {
  display: flex;
  flex-wrap: wrap;
}

.Main-button {
  width: 40%;
  margin: 0.7rem auto ;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--white-sand);
  background-color: var(--anthracite);
  border: none;
}

.Main-button:hover, .Main-button:focus {
  color: var(--cloud-dancer);
  background-color: var(--deep-taupe);
}

.Navigation ul {
  list-style-type: "\2937";
  font-size: 1.3rem;
}

.Navigation a {  
  text-decoration: none;
}

.NotFound-link {
  display: block;
  text-align: center;
}

footer {
  height: 80px;
  color: var(--white-sand);
  font-size: 1.1rem;
  background-color: var(--anthracite);
  display: flex;
  align-items: center;
}

.Footer-copyright {
  margin-left: 50px;
}

.Footer-link {
  margin-left: auto;
  margin-right: 50px;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.Footer-link:hover, .Footer-link:focus {
  color: var(--cloud-dancer);
}

@media screen and (min-width: 1000px) {
  .Header-homelink, .Footer-copyright {
    margin-left: 100px;
  }

  .Nav-bar, .Footer-link {
    margin-right: 100px;
  }
}

@media screen and (max-width: 805px) {
  Header {
    height: auto;
    display: block;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .Header-homelink {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--anthracite);
  }

  .Header-homelink {
    margin: 0;
  }

  .Nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .Nav-links li {
    padding: 20px 0;
  }

  .Nav-dropdown {
    display: none !important;
  }

  .Main {
    width: 70%;
  }

  .Main-buttons {
    flex-direction: column;
  }

  .Main-button {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .Main {
    width: 80%;
  }

  .Main-list {
    margin-left: 20px;
  }

  .Main-list li {
    padding-left: 0.6rem;
  }

  .Main-list__nested {
    margin-left: 5px;
  }
  
  footer {
    display: block;
    height: auto;
    padding: 40px 20px;
    text-align: left;
  }

  .Footer-copyright, .Footer-link {
    display: block;
    margin-left: 50px;
  }

  .Footer-link {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .Nav-links {
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .Nav-links li {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-left: 0 !important;
  }

  .Nav-link {
    display: block;
    padding: 20px;
  }

  .Main {
    width: 90%;
  }

  .Main-button {
    width: 90%;
    margin: 10px 0;
  }

  .Footer-copyright, .Footer-link {
    display: block;
    margin-left: 20px;
  }
}